# Puerto en el que el servidor escuchará
PORT=PUERTO

# URL de conexión a la base de datos PostgreSQL
# Formato: postgres://usuario:contraseña@host:puerto/nombre_base_datos
DATABASE_URL=postgres://usuario:contraseña@host:puerto/nombre_base_datos

# Clave secreta para firmar tokens JWT
JWT_SECRET=tuclaveJWTsecreta